.page {
background-image: url('/home.png');
background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  height:calc(100vh - 80px) ;
  display: flex;
    flex-direction: column;
    justify-content: center;

}
.container{
  margin-left: 64px;
}
.title{
font-family: var(--font-family);
  font-weight: 600;
  font-size: 48px;
  line-height: 67%;
  color: var(--inputs);
  margin-bottom: 16px;
}
.descr{
font-family: var(--font-family);
  font-weight: 600;
  font-size: 24px;
  line-height: 133%;
  color: var(--inputs);
  margin-bottom: 40px;
}
.link {
border-radius: 200px;
  padding: 16px 60px;
  width: 173px;
  height: 56px;
  background: var(--button);
  font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: -0.01em;
    color: var(--white);
    transition: background 0.2s ease;
}
.link:hover,
.link:focus{
  background: var(--button-hover);
}
