.container{
border: 1px solid var(--gray-light);
  border-radius: 10px;
  padding: 44px;
  width: 553px;
}
.title{
  font-family: var(--font-family);
    font-weight: 600;
    font-size: 20px;
    line-height: 120%;
    color: var(--main);
    margin-bottom: 8px;
}
.descr{
  font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: var(--gray);
    margin-bottom: 24px;
}
.form{
  display: flex;
  flex-direction: column;
  gap: 14px;
}
.input{
  border-radius: 12px;
  padding: 18px;
  background: var(--inputs);
  border: none;
  outline: transparent;
  font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: var(--main);
    width: calc(100% - 36px);
}
.input::placeholder,
.inputcomment::placeholder {
  font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: var(--gray);
}
 
.inputcomment{
  font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: var(--main);
    border-radius: 10px;
    background: var(--inputs);
    height: 118px;
    border: none;
      outline: transparent;
      margin-bottom: 24px;
      padding: 18px;
}
.btn{
  font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: -0.01em;
    color: var(--white);
    width: 166px;
      height: 56px;
      border-radius: 200px;
      background: var(--button);
      border: none;
      margin-left: auto;
      margin-right: auto;
          transition: background 0.2s ease;

}
.btn:hover,
.btn:focus,
.btn:active {
  background: var(--button-hover);
}
