.container{
padding-top: 48px;
padding-bottom: 80px;
max-width: 1312px;
margin-left: auto;margin-right: auto;
}
.title{
font-family: var(--font-family);
  font-weight: 600;
  font-size: 24px;
  line-height: 133%;
  color: var(--main);
  margin-bottom: 8px;
}
.reviewsWrapper{
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}
.star{
  fill: var(--rating);
  margin-right: 4px;
}
.rating {
  font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: var(--main);
    margin-right: 16px;
}
.locationW{
  display: flex;
  align-items: center;
  justify-content: center;
}
.locationIcon{
  margin-right: 4px;
}
.location{
  font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: var(--main);
}
.price{
  font-family: var(--font-family);
    font-weight: 600;
    font-size: 24px;
    line-height: 133%;
    color: var(--main);
    margin-bottom: 28px;
}
.galleryList{
  display: flex;
  flex-wrap: wrap;
  gap: 48px;
  margin-bottom: 28px;
}

.galleryImgWrapper {
  position: relative;
  width: 292px;
  aspect-ratio: 292 / 312;
  overflow: hidden;
  border-radius: 10px;
}

.galleryImg {
  object-fit: cover;
}
.description{
  font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: var(--text);
    margin-bottom: 60px;
}
.tabs{
  display: flex;
  gap:40px;
    margin-bottom: 80px;
    position: relative;
}
.tab{
  font-family: var(--font-family);
    font-weight: 600;
    font-size: 20px;
    line-height: 120%;
    color: var(--main);
    border: none;
    background: transparent;
    position: relative;
}
.line{
  position: absolute;
  top:48px;
}
.active::after{
  background-color: var(--button);
  width: 100%;
position: absolute;
content: "";
height:5px;
top: 48px;
left: 0;
z-index: 999;

}
.wrapper{
  display: flex;
  gap: 40px;
}

.modalBackdrop {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, .6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal {
  background: white;
  padding: 20px;
  border-radius: 12px;
  max-width: 900px;
  width: 100%;
}

.modalImg {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 8px;
}
.modalImgWrapper {
  position: relative;
  width: 100%;
  height: 500px;
}

.modalImg {
  object-fit: contain;
}
.modal {
  overflow: hidden;
}